<style>
    .navigation {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
    .navigation > a {
        text-decoration: none;
    }
    .ph {
        font-size: 24pt;
    }
</style>

<div class="navigation">
    <a href="/users/AidenTheGoat">
        <i class="ph ph-user-circle"></i>
        <!-- user icon -->
    </a>
    <a href="/shorts">
        <i class="ph ph-tiktok-logo"></i>
        <!-- Tiktok clockity clock -->
    </a>
</div>
